<h1> Welcome to heavy characters page </h1>

<ul>
	<% @heavy_characters.each{ |movies_set, characters_list| %>
		<li>In "<%= movies_set.collect{ |movie_name| ask_url(movie_name)[:title] }.join('", "') %>" movies we can find all following characters :
			<ul>
				<% characters_list.each{ |heavy_character| %>
					<li>
						<%="#{heavy_character[:name]} from #{ask_url(heavy_character[:homeworld])[:name]} and weighting #{heavy_character[:mass]}" %>
					</li>
				<%}%>
			</ul>
		</li>
	<%}%>
</ul>